Pembuat Laporan Arus Kas Naratif.json
{
  "name": "Pembuat Laporan Arus Kas Naratif (CFO AI)",
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2544,
        1360
      ],
      "id": "4cc55e01-b248-4d31-aa2a-1005890980e3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1K285wfL4AObj4gs",
          "name": "Groq account NF"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua data dari Google Sheets\nconst rows = $input.all().map(i => i.json);\n\n// Tentukan bulan laporan\nconst now = new Date();\nlet bln = now.getMonth() - 1;\nlet thn = now.getFullYear();\nif (bln < 0) {\n  bln = 11;\n  thn--;\n}\n\n// Filter data bulan terpilih\nconst filteredRows = rows.filter(r => {\n  const d = new Date(r.Tanggal); // ambil tanggal\n  if (isNaN(d)) return false; // cek data valid\n\n  // Ambil bulan dan tahun\n  return (\n    d.getMonth() === bln &&\n    d.getFullYear() === thn\n  );\n});\n\nif (!filteredRows.length) {\n  throw new Error(\n    `Tidak ada data untuk bulan ${bln + 1}/${thn}`\n  );\n}\n\n// Helper untuk hasil bulan (ex. Mei 2026)\nconst bulan = new Date(thn, bln, 1).toLocaleDateString('id-ID', {\n  month: 'long',\n  year: 'numeric'\n});\n\nconst rp = n => 'Rp ' + Number(n).toLocaleString('id-ID'); // format rupiah\n\n// Agregasi\nlet totalIn = 0;\nlet totalOut = 0;\nconst divisiOut = {};\n\n// loop data yang sudah di filter\nfor (const r of filteredRows) {\n  // Mengubah nominal menjadi angka\n  const nominal = parseFloat(\n    String(r.Nominal).replace(/[^0-9.]/g, '')\n  ) || 0;\n\n  if (r.Jenis === 'Pemasukan') { // Menambah total Pemasukan\n    totalIn += nominal;\n  } else { // Menambah total pengeluaran\n    totalOut += nominal;\n\n    // Pengeluaran per divisi\n    const divisi = r.Divisi || 'Umum';\n    divisiOut[divisi] =\n      (divisiOut[divisi] || 0) + nominal;\n  }\n}\n\n// Perhitungan KPI\nconst saldo = totalIn - totalOut; // saldo akhir\nconst rasioPengeluaran = totalIn > 0 ? ( // rasio pengeluaran\n  (totalOut / totalIn) * 100\n).toFixed(1) : '0.0';\n\nconst divisiOutSorted = Object.entries(divisiOut)\n  .sort((a, b) => b[1] - a[1]); // urutkan divisi\n\nconst divisiPalingBoros = divisiOutSorted[0]?.[0] || 'N/A'; // divisi boros\nconst nominalBoros = divisiOutSorted[0]?.[1] || 0; // nominal borosnya\nconst persenBoros = totalOut > 0 ? ( // persenan boros\n  (nominalBoros / totalOut) * 100\n).toFixed(1) : '0.0';\n\n// Data Chart PDF\nconst chartDataDivisi = divisiOutSorted.slice(0, 6)\n  .map(([label, value]) => ({\n    label,\n    value,\n    persen: totalOut > 0 ? Math.round(\n      (value / totalOut) * 100\n    ) : 0\n  }));\n\n// Tabel Ringkasan untuk AI\nconst tabelDivisi =\n`| Divisi | Pengeluaran |\n|---------|------------|` +\n'\\n' +\ndivisiOutSorted.map(([div, val]) => // mapping pengeluaran perdivisi\n    `| ${div} | ${rp(val)} |`\n  ).join('\\n');\n\n// Ringkasan untuk AI CFO\nconst tabelMarkdown = `\n## Ringkasan Cashflow ${bulan}\n\n### KPI\n- Total Pemasukan: ${rp(totalIn)}\n- Total Pengeluaran: ${rp(totalOut)}\n- Saldo Bersih: ${rp(saldo)}\n- Rasio Pengeluaran: ${rasioPengeluaran}%\n\n### Divisi Pengeluaran\n${tabelDivisi}\n\n### Temuan Awal\n- Divisi paling boros: ${divisiPalingBoros}\n- Nominal: ${rp(nominalBoros)}\n- Kontribusi terhadap total pengeluaran: ${persenBoros}%\n`.trim();\n\n// Output\nreturn [{\n  json: {\n    bulan,\n    totalPemasukan: totalIn,\n    totalPengeluaran: totalOut,\n    saldo,\n\n    rasioPengeluaran: parseFloat(rasioPengeluaran),\n    divisiPalingBoros,\n    persenBoros: parseFloat(persenBoros),\n    divisiOutSorted,\n\n    chartDataDivisi,\n    tabelMarkdown\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        1504
      ],
      "id": "e0598bac-0afb-4161-98cb-a984992d7162",
      "name": "Format Ke Tabel Markdown"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Kamu adalah Chief Financial Officer (CFO) senior berpengalaman 20 tahun di perusahaan multinasional. Kamu dikenal dengan analisis yang tajam, naratif yang kuat, dan rekomendasi yang konkret dan actionable.\n\nBerikut adalah data cashflow perusahaan untuk periode {{ $json.bulan }}:\n\n{{ $json.tabelMarkdown }}\n\nTUGAS ANDA sebagai CFO:\n\n1. Analisis Divisi Paling Boros: Jelaskan secara naratif divisi mana yang paling boros, berapa nominalnya, berapa persentasenya dari total pengeluaran, dan apa dampaknya terhadap kesehatan keuangan perusahaan. JANGAN hanya sebutkan nama divisinya saja - berikan analisis minimal 3 kalimat yang substantif.\n\n2. Temuan Pengeluaran Tidak Efisien: Identifikasi pola-pola pengeluaran yang tidak efisien berdasarkan data. Jelaskan MENGAPA hal tersebut tidak efisien dengan argumentasi yang kuat.\n\n3. 3 Rekomendasi Efisiensi: Berikan rekomendasi yang SPESIFIK, ACTIONABLE, dan bila memungkinkan sertakan estimasi penghematan potensial. Hindari saran yang terlalu generik.\n\n4. Risiko Keuangan: Identifikasi risiko-risiko spesifik yang perlu diantisipasi.\n\n5. Kesimpulan Eksekutif: Tulis kesimpulan komprehensif yang layak dibaca oleh Board of Directors.\n\nGUNAKAN BAHASA INDONESIA yang profesional, formal, dan naratif. Jawab sesuai struktur JSON parser.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2544,
        1504
      ],
      "id": "c6963838-cd05-4be1-8e54-282fa9ea2406",
      "name": "Analisis CFO"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2400,
        1792
      ],
      "id": "e9f09cc7-e438-481a-94d1-d6aab4de13aa",
      "name": "Download File PDF"
    },
    {
      "parameters": {
        "sendTo": "=mift23047ti@student.nurulfikri.ac.id",
        "subject": "=📊 [CFO REPORT] Laporan Arus Kas {{ $('Format Ke Tabel Markdown').item.json.bulan + \" | \" + ($('Format Ke Tabel Markdown').item.json.saldo >= 0 ? \"POSITIF\" : \"NEGATIF\") }}",
        "message": "=<div style=\"font-family:'Segoe UI',Arial,sans-serif;max-width:620px;margin:0 auto;background:#ffffff;border:1px solid #e2e8f0;border-top:5px solid #1B4F72;border-radius:8px;overflow:hidden;box-shadow:0 4px 6px -1px rgba(0,0,0,0.05);\">\n \n  <!-- BODY -->\n  <div style=\"padding:32px 28px;\">\n \n    <!-- Kop -->\n    <p style=\"margin:0 0 4px;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;color:#64748b;font-weight:600;\">\n      Executive Financial Analytics\n    </p>\n    <h2 style=\"margin:0 0 24px;font-size:22px;font-weight:700;color:#1B4F72;line-height:1.3;\">\n      Analisis Arus Kas Naratif: {{ $('Format Ke Tabel Markdown').item.json.bulan }}\n    </h2>\n \n    <!-- Pembuka -->\n    <p style=\"margin:0 0 20px;font-size:14px;line-height:1.7;color:#334155;\">\n      Yth. Tim Manajemen &amp; Stakeholder,<br><br>\n      <strong>Sistem Analisis CFO</strong> telah menyelesaikan konsolidasi data dan analisis mendalam\n      terkait performa arus kas perusahaan periode <strong>{{ $('Format Ke Tabel Markdown').item.json.bulan }}</strong>.\n      Dokumen resmi berformat <strong>PDF telah dilampirkan</strong> pada email ini.\n    </p>\n \n    <!-- KPI -->\n    <div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;padding:4px 0;margin-bottom:20px;\">\n      <table style=\"width:100%;border-collapse:collapse;\">\n        <tr>\n          <td style=\"padding:10px 18px;font-size:13px;color:#64748b;\">Kondisi Cashflow Bulanan:</td>\n          <td style=\"padding:10px 18px;font-size:14px;font-weight:700;text-align:right;color:{{ $('Format Ke Tabel Markdown').item.json.saldo >= 0 ? '#16a34a' : '#dc2626' }};\">\n            {{ $('Format Ke Tabel Markdown').item.json.saldo >= 0 ? 'POSITIF' : 'NEGATIF' }}\n          </td>\n        </tr>\n        <tr style=\"border-top:1px solid #e2e8f0;\">\n          <td style=\"padding:10px 18px;font-size:13px;color:#64748b;\">Rasio Pengeluaran:</td>\n          <td style=\"padding:10px 18px;font-size:14px;font-weight:700;text-align:right;color:#1B4F72;\">\n            {{ $('Format Ke Tabel Markdown').item.json.rasioPengeluaran }}%\n          </td>\n        </tr>\n      </table>\n    </div>\n \n    <!-- Temuan utama -->\n    <div style=\"background:#fff7ed;border-left:4px solid #ea580c;border-radius:6px;padding:16px 18px;margin-bottom:24px;\">\n      <p style=\"margin:0 0 6px;font-size:13px;font-weight:700;color:#c2410c;\">⚠️ Temuan Utama Sistem</p>\n      <p style=\"margin:0;font-size:13px;line-height:1.6;color:#c2410c;\">\n        Tingkat efisiensi anggaran terendah periode ini terdeteksi pada divisi\n        <strong>{{ $('Format Ke Tabel Markdown').item.json.divisiPalingBoros }}</strong>\n        dengan kontribusi <strong>{{ $('Format Ke Tabel Markdown').item.json.persenBoros }}%</strong>\n        dari total pengeluaran. Rekomendasi pengetatan operasional tersedia di lampiran PDF.\n      </p>\n    </div>\n \n    <!-- Cakupan analisis -->\n    <p style=\"margin:0 0 10px;font-size:14px;font-weight:600;color:#1B4F72;\">Cakupan Analisis dalam Lampiran PDF:</p>\n    <ul style=\"margin:0 0 28px;padding-left:20px;color:#475569;font-size:13px;line-height:1.9;\">\n      <li><strong>Analisis Divisi Paling Boros</strong> — Identifikasi dan pembedahan penyebab pembengkakan biaya.</li>\n      <li><strong>Distribusi Pengeluaran</strong> — Visualisasi proporsi anggaran per divisi.</li>\n      <li><strong>Pola Pengeluaran Tidak Efisien</strong> — Temuan penyimpangan dan potensi pemborosan.</li>\n      <li><strong>Identifikasi Risiko Arus Kas</strong> — Pemetaan potensi hambatan finansial bulan depan.</li>\n      <li><strong>3 Rekomendasi Efisiensi CFO</strong> — Rencana aksi taktis dengan estimasi potensi penghematan.</li>\n      <li><strong>Kesimpulan Eksekutif</strong> — Ringkasan komprehensif untuk Board of Directors.</li>\n    </ul>\n \n    <!-- Penutup -->\n    <p style=\"margin:0;font-size:13px;line-height:1.8;color:#64748b;\">\n      Salam Profesional,<br>\n      <strong style=\"color:#1B4F72;\">Sistem Analisis CFO</strong><br>\n      <span style=\"font-size:11px;color:#94a3b8;\">\n        Dibuat pada: {{ new Date().toLocaleDateString('id-ID', { weekday:'long', day:'numeric', month:'long', year:'numeric' }) }}\n      </span>\n    </p>\n \n  </div>\n \n  <!-- FOOTER -->\n  <div style=\"background:#f1f5f9;padding:12px 28px;border-top:1px solid #e2e8f0;text-align:center;\">\n    <p style=\"margin:0;font-size:10px;letter-spacing:0.5px;color:#94a3b8;\">\n      CONFIDENTIAL REPORT — FOR INTERNAL USE ONLY\n    </p>\n  </div>\n \n</div>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        1792
      ],
      "id": "0aac7b5b-17fd-4b02-8c23-ca9b871df96b",
      "name": "Email Ke Stakeholder",
      "webhookId": "1680a124-c6af-4b53-a06b-233b601d5e15",
      "credentials": {
        "gmailOAuth2": {
          "id": "aCVMMI91ncJTwW3a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"divisi_paling_boros\": {\n      \"type\": \"string\",\n      \"description\": \"Analisis mendalam minimum 3 kalimat tentang divisi paling boros: sebutkan nama divisinya, nominalnya, persentasenya, dan dampak terhadap kesehatan keuangan perusahaan\"\n    },\n    \"pengeluaran_tidak_efisien\": {\n      \"type\": \"string\",\n      \"description\": \"Identifikasi minimum 2-3 pola pengeluaran yang tidak efisien dengan penjelasan konkret mengapa dianggap tidak efisien berdasarkan data\"\n    },\n    \"rekomendasi_1\": {\n      \"type\": \"string\",\n      \"description\": \"Rekomendasi efisiensi pertama yang spesifik, actionable, dan disertai estimasi potensi penghematan jika memungkinkan\"\n    },\n    \"rekomendasi_2\": {\n      \"type\": \"string\",\n      \"description\": \"Rekomendasi efisiensi kedua yang spesifik, actionable, dan disertai estimasi potensi penghematan jika memungkinkan\"\n    },\n    \"rekomendasi_3\": {\n      \"type\": \"string\",\n      \"description\": \"Rekomendasi efisiensi ketiga yang spesifik, actionable, dan disertai estimasi potensi penghematan jika memungkinkan\"\n    },\n    \"risiko_keuangan\": {\n      \"type\": \"string\",\n      \"description\": \"Identifikasi 2-3 risiko keuangan utama yang perlu diwaspadai bulan depan berdasarkan data saat ini\"\n    },\n    \"kesimpulan_eksekutif\": {\n      \"type\": \"string\",\n      \"description\": \"Kesimpulan eksekutif komprehensif minimum 4 kalimat: ringkasan kondisi keuangan, highlight positif, area concern, dan outlook ke depan\"\n    },\n    \"label_skor\": {\n      \"type\": \"string\",\n      \"description\": \"Label untuk skor: Kritis / Perlu Perhatian / Cukup Baik / Baik / Sangat Baik\"\n    }\n  },\n  \"required\": [\n    \"divisi_paling_boros\",\n    \"pengeluaran_tidak_efisien\",\n    \"rekomendasi_1\",\n    \"rekomendasi_2\",\n    \"rekomendasi_3\",\n    \"risiko_keuangan\",\n    \"kesimpulan_eksekutif\",\n    \"label_skor\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2672,
        1360
      ],
      "id": "2b8f45cc-e8c3-4bc7-bc6b-395d03968308",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "={{ $json.html }}",
        "advancedOptions": {
          "name": "=laporan_cfo_{{ $('Format Ke Tabel Markdown').item.json.bulan.replace(/\\s/g, '_') }}.pdf"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        2192,
        1792
      ],
      "id": "c708a43a-b2ff-48bb-ac89-b84407ffa544",
      "name": "HTML to PDF",
      "credentials": {
        "pdfcoApi": {
          "id": "rkbdyKUxRI7MEhwb",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n<meta charset=\"UTF-8\">\n<style>\n* {\n  box-sizing: border-box;\n  margin: 0;\n  padding: 0;\n}\n\nbody {\n  font-family: 'Segoe UI', Arial, sans-serif;\n  background: #fff;\n  color: #1e293b;\n  font-size: 12px;\n}\n\n/* =============================================\n   LAYOUT\n   ============================================= */\n.page {\n  max-width: 860px;\n  margin: 0 auto;\n}\n\n.stripe-top {\n  background: #1B4F72;\n  height: 6px;\n}\n\n.stripe-bot {\n  background: #1B4F72;\n  height: 4px;\n}\n\n.section {\n  padding: 0 40px 24px;\n}\n\n.section-last {\n  padding: 0 40px 32px;\n}\n\n/* =============================================\n   HEADER\n   ============================================= */\n.header {\n  display: flex;\n  justify-content: space-between;\n  align-items: flex-start;\n  padding: 28px 40px 20px;\n  border-bottom: 3px solid #1B4F72;\n  margin-bottom: 8px;\n}\n\n.header-left h1 {\n  font-size: 20px;\n  font-weight: 800;\n  color: #1B4F72;\n  letter-spacing: -0.02em;\n}\n\n.header-left .subtitle {\n  margin-top: 6px;\n  color: #64748b;\n  font-size: 11px;\n}\n\n.header-right {\n  text-align: right;\n  color: #94a3b8;\n  font-size: 11px;\n  line-height: 1.8;\n}\n\n.header-right .confidential {\n  margin-top: 4px;\n  font-weight: 700;\n  color: #475569;\n}\n\n.ai-badge {\n  display: inline-block;\n  background: #eff6ff;\n  color: #1B4F72;\n  border: 1px solid #bfdbfe;\n  font-size: 10px;\n  font-weight: 700;\n  padding: 2px 9px;\n  border-radius: 999px;\n  margin-left: 8px;\n  vertical-align: middle;\n}\n\n/* =============================================\n   KPI TABLE\n   ============================================= */\n.kpi-wrap {\n  padding: 20px 40px 24px;\n}\n\n.kpi-table {\n  width: 100%;\n  border-collapse: collapse;\n  border: 1px solid #e2e8f0;\n  border-radius: 8px;\n  overflow: hidden;\n}\n\n.kpi-table thead tr {\n  background: #1B4F72;\n}\n\n.kpi-table thead th {\n  padding: 10px 16px;\n  text-align: left;\n  font-size: 10px;\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 0.08em;\n  color: #fff;\n}\n\n.kpi-table tbody tr {\n  background: #f8fafc;\n}\n\n.kpi-table tbody td {\n  padding: 14px 16px;\n  font-size: 15px;\n  font-weight: 700;\n}\n\n.kpi-in    { color: #16a34a; }\n.kpi-out   { color: #dc2626; }\n.kpi-ratio { color: #1B4F72; }\n\n.kpi-badge {\n  font-size: 11px;\n  font-weight: 600;\n}\n\n/* =============================================\n   SECTION HEADINGS\n   ============================================= */\n.sec-head {\n  padding-left: 12px;\n  margin-bottom: 12px;\n  margin-top: 10px;\n}\n\n.sec-head.primary { border-left: 4px solid #1B4F72; }\n.sec-head.danger  { border-left: 4px solid #dc2626; }\n.sec-head.warning { border-left: 4px solid #d97706; }\n.sec-head.success { border-left: 4px solid #16a34a; }\n\n.sec-title {\n  font-size: 15px;\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 0.07em;\n}\n\n.sec-title.primary { color: #1B4F72; }\n.sec-title.danger  { color: #dc2626; }\n.sec-title.warning { color: #d97706; }\n.sec-title.success { color: #16a34a; }\n\n/* =============================================\n   CONTENT BOXES\n   ============================================= */\n.box {\n  border-radius: 8px;\n  padding: 16px 20px;\n}\n\n.box p {\n  font-size: 12px;\n  line-height: 1.9;\n}\n\n.box-default {\n  background: #f8fafc;\n  border: 1px solid #e2e8f0;\n}\n\n.box-default p { color: #475569; }\n\n.box-danger {\n  background: #fff7ed;\n  border: 1px solid #fed7aa;\n}\n\n.box-danger p { color: #7c2d12; }\n\n.box-warning {\n  background: #fffbeb;\n  border: 1px solid #fde68a;\n}\n\n.box-warning p { color: #78350f; }\n\n.box-conclusion {\n  background: #f8fafc;\n  border: 1px solid #e2e8f0;\n  border-left: 4px solid #1B4F72;\n  padding: 20px 24px;\n}\n\n.box-conclusion p {\n  font-size: 12px;\n  color: #334155;\n  line-height: 2;\n  font-style: italic;\n}\n\n/* =============================================\n   BAR CHART TABLE\n   ============================================= */\n.chart-wrap {\n  border: 1px solid #e2e8f0;\n  border-radius: 8px;\n  overflow: hidden;\n}\n\n.chart-table {\n  width: 100%;\n  border-collapse: collapse;\n}\n\n.chart-table thead tr {\n  background: #f1f5f9;\n}\n\n.chart-table thead th {\n  padding: 8px 12px;\n  text-align: left;\n  font-size: 10px;\n  color: #94a3b8;\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 0.05em;\n}\n\n.chart-table thead th.col-label   { width: 150px; }\n.chart-table thead th.col-nominal { text-align: right; width: 170px; }\n\n.chart-td-label {\n  padding: 9px 12px;\n  font-size: 11px;\n  color: #334155;\n  font-weight: 600;\n  width: 150px;\n}\n\n.chart-td-bar { padding: 9px 12px; }\n\n.chart-td-val {\n  padding: 9px 12px;\n  font-size: 11px;\n  color: #64748b;\n  text-align: right;\n  white-space: nowrap;\n  width: 170px;\n}\n\n.bar-track {\n  background: #e2e8f0;\n  border-radius: 4px;\n  height: 10px;\n  width: 100%;\n  overflow: hidden;\n}\n\n.bar-fill {\n  height: 100%;\n  border-radius: 4px;\n}\n\n/* =============================================\n   DIVISI TABLE\n   ============================================= */\n.div-wrap {\n  border: 1px solid #e2e8f0;\n  border-radius: 8px;\n  overflow: hidden;\n}\n\n.div-table {\n  width: 100%;\n  border-collapse: collapse;\n}\n\n.div-table thead tr {\n  background: #1B4F72;\n}\n\n.div-table thead th {\n  padding: 10px 16px;\n  font-size: 10px;\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 0.06em;\n  color: #fff;\n}\n\n.div-table thead th:nth-child(1) { text-align: left; }\n.div-table thead th:nth-child(2) { text-align: right; }\n.div-table thead th:nth-child(3) { text-align: center; }\n.div-table thead th:nth-child(4) { text-align: center; }\n\n.div-table tbody tr {\n  border-bottom: 1px solid #f1f5f9;\n}\n\n.div-table tbody tr:last-child {\n  border-bottom: none;\n}\n\n.div-td-name {\n  padding: 10px 16px;\n  font-size: 12px;\n  color: #334155;\n  font-weight: 500;\n}\n\n.div-td-val {\n  padding: 10px 16px;\n  font-size: 12px;\n  color: #334155;\n  text-align: right;\n}\n\n.div-td-pct {\n  padding: 10px 16px;\n  font-size: 12px;\n  color: #64748b;\n  text-align: center;\n}\n\n.div-td-badge {\n  padding: 10px 16px;\n  text-align: center;\n}\n\n.badge {\n  display: inline-block;\n  padding: 2px 9px;\n  border-radius: 4px;\n  font-size: 10px;\n  font-weight: 700;\n}\n\n.badge-high   { background: #fef2f2; color: #dc2626; }\n.badge-medium { background: #fffbeb; color: #d97706; }\n.badge-low    { background: #f0fdf4; color: #16a34a; }\n\n/* =============================================\n   REKOMENDASI\n   ============================================= */\n.rek-list {\n  display: flex;\n  flex-direction: column;\n  gap: 10px;\n}\n\n.rek-item {\n  display: flex;\n  align-items: flex-start;\n  gap: 14px;\n  background: #f0fdf4;\n  border: 1px solid #bbf7d0;\n  border-radius: 8px;\n  padding: 14px 18px;\n}\n\n.rek-num {\n  flex-shrink: 0;\n  width: 22px;\n  height: 22px;\n  background: #16a34a;\n  color: #fff;\n  border-radius: 50%;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  font-size: 11px;\n  font-weight: 700;\n}\n\n.rek-item p {\n  font-size: 12px;\n  color: #14532d;\n  line-height: 1.8;\n}\n\n/* =============================================\n   FOOTER\n   ============================================= */\n.footer {\n  background: #f8fafc;\n  border-top: 1px solid #e2e8f0;\n  padding: 14px 40px;\n  text-align: center;\n}\n\n.footer p {\n  font-size: 10px;\n  color: #94a3b8;\n  line-height: 1.8;\n}\n\n</style>\n</head>\n<body>\n<div class=\"page\">\n\n  <!-- STRIPE TOP -->\n  <div class=\"stripe-top\"></div>\n\n  <!-- HEADER -->\n  <div class=\"header\">\n    <div class=\"header-left\">\n      <h1>\n        Laporan Analisis Keuangan Bulanan\n        <span class=\"ai-badge\">CFO</span>\n      </h1>\n      <div class=\"subtitle\">\n        Periode: {{ $('Format Ke Tabel Markdown').item.json.bulan }}\n        &nbsp;·&nbsp;\n        Digenerate otomatis oleh sistem Analisis CFO\n      </div>\n    </div>\n    <div class=\"header-right\">\n      <div>Dicetak: {{ new Date().toLocaleDateString('id-ID', { day:'numeric', month:'long', year:'numeric' }) }}</div>\n      <div class=\"confidential\">CONFIDENTIAL</div>\n    </div>\n  </div>\n\n  <!-- KPI -->\n  <div class=\"kpi-wrap\">\n    <table class=\"kpi-table\">\n      <thead>\n        <tr>\n          <th>Total Pemasukan</th>\n          <th>Total Pengeluaran</th>\n          <th>Saldo Kas Aktual</th>\n          <th>Rasio Pengeluaran</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          <td class=\"kpi-in\">\n            {{ 'Rp ' + Number($('Format Ke Tabel Markdown').item.json.totalPemasukan).toLocaleString('id-ID') }}\n          </td>\n          <td class=\"kpi-out\">\n            {{ 'Rp ' + Number($('Format Ke Tabel Markdown').item.json.totalPengeluaran).toLocaleString('id-ID') }}\n          </td>\n          <td class=\"{{ $('Format Ke Tabel Markdown').item.json.saldo < 0 ? 'kpi-out' : 'kpi-in' }}\">\n            {{ 'Rp ' + Number($('Format Ke Tabel Markdown').item.json.saldo).toLocaleString('id-ID') }}\n            <span class=\"kpi-badge\">\n              ({{ $('Format Ke Tabel Markdown').item.json.saldo < 0 ? 'Negatif' : 'Positif' }})\n            </span>\n          </td>\n          <td class=\"kpi-ratio\">\n            {{ $('Format Ke Tabel Markdown').item.json.rasioPengeluaran }}%\n          </td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n\n  <!-- SECTION 1 · Analisis Divisi Paling Boros -->\n  <div class=\"section\">\n    <div class=\"sec-head primary\">\n      <div class=\"sec-title primary\">Analisis Divisi Paling Boros</div>\n    </div>\n    <div class=\"box box-default\">\n      <p>{{ $json.output.divisi_paling_boros ?? '-' }}</p>\n    </div>\n  </div>\n\n  <!-- SECTION 2 · Distribusi Pengeluaran per Divisi -->\n  <div class=\"section\">\n    <div class=\"sec-head primary\">\n      <div class=\"sec-title primary\">Distribusi Pengeluaran per Divisi</div>\n    </div>\n    <div class=\"chart-wrap\">\n      <table class=\"chart-table\">\n        <thead>\n          <tr>\n            <th class=\"col-label\">Divisi</th>\n            <th>Proporsi</th>\n            <th class=\"col-nominal\">Nominal</th>\n          </tr>\n        </thead>\n        <tbody>\n          {{\n            (function() {\n              const palette = ['#1B4F72','#2E86C1','#3b82f6','#60a5fa','#93c5fd','#bfdbfe'];\n              const items   = $('Format Ke Tabel Markdown').item.json.chartDataDivisi ?? [];\n              const maxVal  = items[0]?.value || 1;\n              return items.map((item, i) => {\n                const pct   = Math.round((item.value / maxVal) * 100);\n                const color = palette[i % palette.length];\n                return `<tr>\n                  <td class=\"chart-td-label\">${item.label}</td>\n                  <td class=\"chart-td-bar\">\n                    <div class=\"bar-track\">\n                      <div class=\"bar-fill\" style=\"width:${pct}%;background:${color};\"></div>\n                    </div>\n                  </td>\n                  <td class=\"chart-td-val\">Rp ${Number(item.value).toLocaleString('id-ID')} (${item.persen}%)</td>\n                </tr>`;\n              }).join('');\n            })()\n          }}\n        </tbody>\n      </table>\n    </div>\n  </div>\n\n  <!-- SECTION 3 · Ringkasan Pengeluaran per Divisi -->\n  <div class=\"section\">\n    <div class=\"sec-head primary\">\n      <div class=\"sec-title primary\">Ringkasan Pengeluaran per Divisi</div>\n    </div>\n    <div class=\"div-wrap\">\n      <table class=\"div-table\">\n        <thead>\n          <tr>\n            <th>Divisi</th>\n            <th>Total Pengeluaran</th>\n            <th>Persentase</th>\n            <th>Level</th>\n          </tr>\n        </thead>\n        <tbody>\n          {{\n            (function() {\n              const rows     = $('Format Ke Tabel Markdown').item.json.divisiOutSorted ?? [];\n              const totalOut = $('Format Ke Tabel Markdown').item.json.totalPengeluaran;\n              return rows.map(([div, n]) => {\n                const persen     = totalOut > 0 ? Math.round(n / totalOut * 100) : 0;\n                const badgeClass = persen > 40 ? 'badge badge-high'\n                                 : persen > 20 ? 'badge badge-medium'\n                                 :               'badge badge-low';\n                const badgeText  = persen > 40 ? 'HIGH' : persen > 20 ? 'MEDIUM' : 'LOW';\n                return `<tr>\n                  <td class=\"div-td-name\">${div}</td>\n                  <td class=\"div-td-val\">Rp ${Number(n).toLocaleString('id-ID')}</td>\n                  <td class=\"div-td-pct\">${persen}%</td>\n                  <td class=\"div-td-badge\"><span class=\"${badgeClass}\">${badgeText}</span></td>\n                </tr>`;\n              }).join('');\n            })()\n          }}\n        </tbody>\n      </table>\n    </div>\n  </div>\n\n  <!-- SECTION 4 · Pola Pengeluaran Tidak Efisien -->\n  <div class=\"section\">\n    <div class=\"sec-head danger\">\n      <div class=\"sec-title danger\">Pola Pengeluaran Tidak Efisien</div>\n    </div>\n    <div class=\"box box-danger\">\n      <p>{{ $json.output.pengeluaran_tidak_efisien ?? '-' }}</p>\n    </div>\n  </div>\n\n  <!-- SECTION 5 · Identifikasi Risiko Arus Kas -->\n  <div class=\"section\">\n    <div class=\"sec-head warning\">\n      <div class=\"sec-title warning\">Identifikasi Risiko Arus Kas</div>\n    </div>\n    <div class=\"box box-warning\">\n      <p>{{ $json.output.risiko_keuangan ?? '-' }}</p>\n    </div>\n  </div>\n\n  <!-- SECTION 6 · 3 Rekomendasi Efisiensi CFO -->\n  <div class=\"section\">\n    <div class=\"sec-head success\">\n      <div class=\"sec-title success\">3 Rekomendasi Efisiensi CFO</div>\n    </div>\n    <div class=\"rek-list\">\n      <div class=\"rek-item\">\n        <div class=\"rek-num\">1</div>\n        <p>{{ $json.output.rekomendasi_1 ?? '-' }}</p>\n      </div>\n      <div class=\"rek-item\">\n        <div class=\"rek-num\">2</div>\n        <p>{{ $json.output.rekomendasi_2 ?? '-' }}</p>\n      </div>\n      <div class=\"rek-item\">\n        <div class=\"rek-num\">3</div>\n        <p>{{ $json.output.rekomendasi_3 ?? '-' }}</p>\n      </div>\n    </div>\n  </div>\n\n  <!-- KESIMPULAN EKSEKUTIF -->\n  <div class=\"section-last\">\n    <div class=\"sec-head primary\">\n      <div class=\"sec-title primary\">Kesimpulan Eksekutif</div>\n    </div>\n    <div class=\"box-conclusion\">\n      <p>{{ $json.output.kesimpulan_eksekutif ?? '-' }}</p>\n    </div>\n  </div>\n\n  <!-- FOOTER -->\n  <div class=\"footer\">\n    <p>\n      Dokumen ini dibuat secara otomatis oleh Sistem Analisis CFO.<br>\n      KONFIDENSIAL — HANYA UNTUK INTERNAL MANAJEMEN PERUSAHAAN\n    </p>\n  </div>\n\n  <!-- STRIPE BOTTOM -->\n  <div class=\"stripe-bot\"></div>\n\n</div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1984,
        1792
      ],
      "id": "750c2393-56c9-4456-b020-b5ea6c181b28",
      "name": "Konversi ke HTML"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1920,
        1504
      ],
      "id": "7bfdb779-adfb-44ec-a9e7-4de879d12383",
      "name": "Jadwal Bulanan"
    },
    {
      "parameters": {
        "content": "## Ambil data bulanan",
        "height": 240,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        1424
      ],
      "typeVersion": 1,
      "id": "cd0cf419-8243-4ac7-bea5-7855f71c573d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13A5wzF7JL9K1sfvARHYK8mlFZMcMQFw3hEkWvXR9IEo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13A5wzF7JL9K1sfvARHYK8mlFZMcMQFw3hEkWvXR9IEo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        1504
      ],
      "id": "23a69456-2adb-46b0-9fab-d91a9e23172a",
      "name": "Ambil Data Cashflow",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "353DkjOtalLlel4w",
          "name": "Google Sheets Miftah NF"
        }
      }
    },
    {
      "parameters": {
        "content": "## Analisis AI CFO (Chief Financial Officer)",
        "height": 416,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        1248
      ],
      "typeVersion": 1,
      "id": "52aad56d-4463-4b82-a592-c4d58aa4e6f7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Pembuatan Laporan PDF",
        "height": 240,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        1712
      ],
      "typeVersion": 1,
      "id": "1c55b075-27c7-413a-ad44-47e9770e67eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Kirim Email ke Stakeholder",
        "height": 240,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        1712
      ],
      "typeVersion": 1,
      "id": "8336c9e7-e895-4ba1-aa0c-819a08fe4712",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis CFO",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Ke Tabel Markdown": {
      "main": [
        [
          {
            "node": "Analisis CFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis CFO": {
      "main": [
        [
          {
            "node": "Konversi ke HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File PDF": {
      "main": [
        [
          {
            "node": "Email Ke Stakeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analisis CFO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF": {
      "main": [
        [
          {
            "node": "Download File PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konversi ke HTML": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jadwal Bulanan": {
      "main": [
        [
          {
            "node": "Ambil Data Cashflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data Cashflow": {
      "main": [
        [
          {
            "node": "Format Ke Tabel Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "8c386e11-c2df-4109-9a0e-b1597ea5131e",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "2e7955425aa6d9fc3490f343f2490ab7f5a242c21d00ca978ef46ad5dfdf3acf"
  },
  "nodeGroups": [],
  "id": "PrCTmjuA2KbJD1WT",
  "tags": [
    {
      "updatedAt": "2026-06-03T08:34:01.264Z",
      "createdAt": "2026-05-22T09:02:51.266Z",
      "id": "0G3LFLyhUkjy2JU7",
      "name": "Final Project"
    }
  ]
}
