Pembuat Laporan Arus Kas Naratif.json
{
  "name": "Pembuat Laporan Arus Kas Naratif (CFO AI)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1I1QZHxUs5NsGaBbEngdswbAfSce8GCbVvj3zWdUWXqc/edit?usp=drivesdk",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I1QZHxUs5NsGaBbEngdswbAfSce8GCbVvj3zWdUWXqc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        1504
      ],
      "id": "23a69456-2adb-46b0-9fab-d91a9e23172a",
      "name": "Ambil Data Cashflow",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "353DkjOtalLlel4w",
          "name": "Google Sheets Miftah NF"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2544,
        1360
      ],
      "id": "4cc55e01-b248-4d31-aa2a-1005890980e3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1K285wfL4AObj4gs",
          "name": "Groq account NF"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1920,
        1504
      ],
      "id": "7bfdb779-adfb-44ec-a9e7-4de879d12383",
      "name": "Jadwal Bulanan1"
    },
    {
      "parameters": {
        "jsCode": "// ambil semua data di google sheet\nlet rows = $input.all().map(i => i.json);\n\n// ambil bulan sebelumnya\nconst now = new Date();\n\nlet bln = now.getMonth() - 1;\nlet thn = now.getFullYear();\n\n// Jika Januari maka kembali ke Desember tahun lalu\nif (bln < 0) {\n  bln = 11;\n  thn -= 1;\n}\n\n// MODE TESTING\nbln = 4;   // Mei\nthn = 2025;\n\n  // Filter bulan\nrows = rows.filter(r => {\n  const d = new Date(r.Tanggal);\n\n  // skip tanggal invalid\n  if (isNaN(d)) return false;\n\n  return (\n    d.getMonth() === bln &&\n    d.getFullYear() === thn\n  );\n});\n\n// format bulan dan tahun\nconst bulan = new Date().toLocaleDateString('id-ID', {\n  month: 'long', year: 'numeric'\n});\n\n// format rupiah\nconst rp = n =>\n  'Rp ' + Number(n).toLocaleString('id-ID');\n\n// TOTAL\nlet totalIn = 0;\nlet totalOut = 0;\nconst divisiOut = {};\n\n// loop transaksi\nfor (const r of rows) {\n\n  const n = parseFloat(\n    String(r.Nominal)\n      .replace(/[^0-9.]/g, '')\n  ) || 0;\n\n  r._nominal = n;\n\n  // pemasukan\n  if (r.Jenis === 'Pemasukan') {\n    totalIn += n;\n  }\n\n  // pengeluaran\n  else {\n    totalOut += n;\n\n    const div = r.Divisi || 'Tidak ada divisi';\n\n    divisiOut[div] =\n      (divisiOut[div] || 0) + n;\n  }\n}\n\n// SALDO\nconst saldo = totalIn - totalOut;\n\n// HEADER TABEL\nconst header =\n`| Tanggal | Divisi | Keterangan | Jenis | Nominal |\n|---------|--------|------------|-------|---------|`;\n\n// ISI TABEL\nconst dataRows = rows.map(r =>\n  `| ${r.Tanggal || '-'} | ${r.Divisi || '-'} | \n  ${r.Keterangan || '-'} | ${r.Jenis || '-'} | \n  ${rp(r._nominal)} |`\n).join('\\n');\n\n// URUTAN DIVISI\nconst divisiSorted = Object.entries(divisiOut)\n  .sort((a, b) => b[1] - a[1]);\n\n// TABEL DIVISI\nconst divisiTable =\n`| Divisi | Total Pengeluaran | % dari Total |\n|--------|------------------|--------------|\n` + divisiSorted.map(([div, n]) =>\n\n  `| ${div} | ${rp(n)} | ${\n    totalOut > 0\n      ? Math.round(n / totalOut * 100)\n      : 0\n  }% |`\n\n).join('\\n');\n\n// FINAL MARKDOWN\nconst tabelMarkdown = `\n\n## Data Cashflow ${bulan}\n\n### Transaksi Detail\n\n${header}\n${dataRows}\n\n### Ringkasan per Divisi (Pengeluaran)\n\n${divisiTable}\n\n### Ringkasan Akhir\n\n- **Total Pemasukan:** ${rp(totalIn)}\n- **Total Pengeluaran:** ${rp(totalOut)}\n- **Saldo Bersih:** ${rp(saldo)}\n- **Jumlah transaksi:** ${rows.length} baris\n\n`.trim();\n\n// OUTPUT JSON\nreturn [{\n  json: {\n    bulan,\n    tabelMarkdown,\n    totalPemasukan: totalIn,\n    totalPengeluaran: totalOut,\n    saldo,\n    divisiRanking: divisiSorted,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        1504
      ],
      "id": "e0598bac-0afb-4161-98cb-a984992d7162",
      "name": "Format Ke Tabel Markdown"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Kamu adalah CFO berpengalaman di perusahaan ini. Analisis data cashflow bulan {{ $json.bulan }} berikut dengan teliti.\n\n{{ $json.tabelMarkdown }}\n\nTugas Anda: \n1. Identifikasi divisi paling boros beserta alasannya \n2. Temukan pola pengeluaran tidak efisien \n3. Berikan tepat 3 rekomendasi efisiensi \n4. Buat kesimpulan eksekutif singkat \n\nJawab sesuai struktur JSON parser.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2544,
        1504
      ],
      "id": "c6963838-cd05-4be1-8e54-282fa9ea2406",
      "name": "Analisis CFO"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2400,
        1728
      ],
      "id": "e9f09cc7-e438-481a-94d1-d6aab4de13aa",
      "name": "Download File PDF"
    },
    {
      "parameters": {
        "sendTo": "mift23047ti@student.nurulfikri.ac.id",
        "subject": "=📊 Laporan CFO Bulanan - {{ $('Format Ke Tabel Markdown').item.json.bulan }}",
        "message": "=<p>Yth. Tim Manajemen,</p>\n<p>Terlampir <strong>Laporan Analisis Keuangan Bulanan {{ $('Format Ke Tabel Markdown').item.json.bulan }}</strong> yang telah dianalisis oleh sistem AI berperan sebagai CFO.</p>\n<p>Laporan ini mencakup:</p>\n<ul>\n  <li>Identifikasi divisi paling boros</li>\n  <li>Pola pengeluaran tidak efisien</li>\n  <li>3 rekomendasi efisiensi yang actionable</li>\n  <li>Kesimpulan eksekutif</li>\n</ul>\n<p><strong>Saldo bersih bulan ini: {{ 'Rp ' + Number($('Format Ke Tabel Markdown').item.json.saldo).toLocaleString('id-ID') }}</strong></p>\n<br>\n<p>Salam,<br>Sistem Laporan Keuangan Otomatis</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        1728
      ],
      "id": "0aac7b5b-17fd-4b02-8c23-ca9b871df96b",
      "name": "Email Ke Stakeholder",
      "webhookId": "1680a124-c6af-4b53-a06b-233b601d5e15",
      "credentials": {
        "gmailOAuth2": {
          "id": "aCVMMI91ncJTwW3a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"divisi_paling_boros\": {\n      \"type\": \"string\",\n      \"description\": \"Analisis mendalam divisi paling boros\"\n    },\n    \"pengeluaran_tidak_efisien\": {\n      \"type\": \"string\",\n      \"description\": \"Temuan pola pengeluaran tidak efisien\"\n    },\n    \"rekomendasi_1\": {\n      \"type\": \"string\",\n      \"description\": \"Rekomendasi efisiensi pertama\"\n    },\n    \"rekomendasi_2\": {\n      \"type\": \"string\",\n      \"description\": \"Rekomendasi efisiensi kedua\"\n    },\n    \"rekomendasi_3\": {\n      \"type\": \"string\",\n      \"description\": \"Rekomendasi efisiensi ketiga\"\n    },\n    \"kesimpulan_eksekutif\": {\n      \"type\": \"string\",\n      \"description\": \"Kesimpulan eksekutif singkat\"\n    }\n  },\n  \"required\": [\n    \"analisis_divisi_paling_boros\",\n    \"pola_pengeluaran_tidak_efisien\",\n    \"rekomendasi_1\",\n    \"rekomendasi_2\",\n    \"rekomendasi_3\",\n    \"kesimpulan_eksekutif\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2672,
        1360
      ],
      "id": "2b8f45cc-e8c3-4bc7-bc6b-395d03968308",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "={{ $json.html }}",
        "advancedOptions": {
          "name": "=laporan_cfo_{{ new Date().toLocaleDateString('id-ID', {   month: 'long',   year: 'numeric' }).replace(/\\s/g, '_') }}.pdf"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        2192,
        1728
      ],
      "id": "c708a43a-b2ff-48bb-ac89-b84407ffa544",
      "name": "HTML to PDF",
      "credentials": {
        "pdfcoApi": {
          "id": "rkbdyKUxRI7MEhwb",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n<meta charset=\"UTF-8\">\n\n<style>\n*{\n  box-sizing:border-box;\n  margin:0;\n  padding:0;\n}\n\nbody{\n  font-family:'Segoe UI', Arial, sans-serif;\n  background:#fff;\n  color:#1e293b;\n  padding:40px 30px;\n  font-size:13px;\n}\n\n/* ================= HEADER ================= */\n\n.header{\n  display:flex;\n  justify-content:space-between;\n  align-items:flex-start;\n\n  border-bottom:4px solid #2563eb;\n\n  padding-bottom:20px;\n  margin-bottom:40px;\n}\n\n.header-left h1{\n  font-size:22px;\n  color:#1d4ed8;\n  font-weight:700;\n}\n\n.subtitle{\n  margin-top:8px;\n  color:#64748b;\n  font-size:13px;\n}\n\n.header-right{\n  text-align:right;\n  color:#94a3b8;\n  font-size:11px;\n}\n\n.confidential{\n  margin-top:4px;\n  font-weight:700;\n  color:#475569;\n}\n\n.ai-badge{\n  display:inline-block;\n\n  background:#eff6ff;\n  color:#2563eb;\n\n  border:1px solid #bfdbfe;\n\n  font-size:10px;\n  font-weight:600;\n\n  padding:3px 10px;\n\n  border-radius:999px;\n\n  margin-left:8px;\n}\n\n/* ================= KPI ================= */\n\n.kpi-grid{\n  display:grid;\n  grid-template-columns:repeat(3,1fr);\n  gap:18px;\n\n  margin-bottom:34px;\n}\n\n.kpi{\n  border-radius:10px;\n  padding:18px;\n\n  border:1px solid #e2e8f0;\n}\n\n.kpi-label{\n  font-size:11px;\n  text-transform:uppercase;\n  color:#94a3b8;\n  letter-spacing:.05em;\n}\n\n.kpi-value{\n  margin-top:8px;\n\n  font-size:22px;\n  font-weight:700;\n}\n\n.green{\n  background:#f0fdf4;\n}\n\n.green .kpi-value{\n  color:#16a34a;\n}\n\n.red{\n  background:#fef2f2;\n}\n\n.red .kpi-value{\n  color:#dc2626;\n}\n\n.blue{\n  background:#eff6ff;\n}\n\n.blue .kpi-value{\n  color:#2563eb;\n}\n\n/* ================= CONTENT ================= */\n\n.section{\n  margin-bottom:28px;\n}\n\n.section h2{\n  border-left:5px solid #2563eb;\n\n  padding-left:12px;\n\n  margin-bottom:12px;\n\n  font-size:15px;\n  color:#0f172a;\n}\n\n.section p{\n  line-height:1.9;\n  color:#475569;\n  font-size:13px;\n}\n\nol{\n  padding-left:22px;\n}\n\nli{\n  margin-bottom:10px;\n  line-height:1.8;\n  color:#475569;\n}\n\n/* ================= FOOTER ================= */\n\n.footer{\n  margin-top:40px;\n\n  border-top:1px solid #e2e8f0;\n\n  padding-top:14px;\n\n  text-align:center;\n\n  color:#cbd5e1;\n  font-size:10px;\n}\n\n</style>\n</head>\n\n<body>\n\n<!-- HEADER -->\n\n<div class=\"header\">\n\n  <div class=\"header-left\">\n\n    <h1>\n      Laporan Analisis Keuangan Bulanan\n\n      <span class=\"ai-badge\">\n        AI · CFO\n      </span>\n    </h1>\n\n    <div class=\"subtitle\">\n      Periode: {{ $('Format Ke Tabel Markdown').item.json.bulan }}\n      &nbsp;·&nbsp;\n      Digenerate otomatis oleh sistem AI\n    </div>\n\n  </div>\n\n  <div class=\"header-right\">\n\n    <div>\n      Dicetak: {{ new Date().toLocaleDateString('id-ID', {day:'numeric',month:'long',year:'numeric'}) }}\n    </div>\n\n    <div class=\"confidential\">\n      CONFIDENTIAL\n    </div>\n\n  </div>\n\n</div>\n\n<!-- KPI -->\n\n<div class=\"kpi-grid\">\n\n  <div class=\"kpi green\">\n    <div class=\"kpi-label\">\n      Total Pemasukan\n    </div>\n\n    <div class=\"kpi-value\">\n      {{ 'Rp ' + Number($('Format Ke Tabel Markdown').item.json.totalPemasukan)\n        .toLocaleString('id-ID') }}\n    </div>\n  </div>\n\n  <div class=\"kpi red\">\n    <div class=\"kpi-label\">\n      Total Pengeluaran\n    </div>\n\n    <div class=\"kpi-value\">\n      {{ 'Rp ' + Number($('Format Ke Tabel Markdown').item.json.totalPengeluaran)\n        .toLocaleString('id-ID') }}\n    </div>\n  </div>\n\n  <div class=\"kpi blue\">\n    <div class=\"kpi-label\">\n      Saldo Bersih\n    </div>\n\n    <div class=\"kpi-value\">\n      {{ 'Rp ' + Number($('Format Ke Tabel Markdown').item.json.saldo)\n        .toLocaleString('id-ID') }}\n    </div>\n  </div>\n\n</div>\n\n<!-- ANALISIS -->\n\n<div class=\"section\">\n  <h2>Analisis Divisi Paling Boros</h2>\n\n  <p>\n    {{ $json.output.divisi_paling_boros }}\n  </p>\n</div>\n\n<div class=\"section\">\n  <h2>Pola Pengeluaran Tidak Efisien</h2>\n\n  <p>\n    {{ $json.output.pengeluaran_tidak_efisien }}\n  </p>\n</div>\n\n<div class=\"section\">\n  <h2>3 Rekomendasi Efisiensi</h2>\n\n  <ol>\n    <li>{{ $json.output.rekomendasi_1 }}</li>\n    <li>{{ $json.output.rekomendasi_2 }}</li>\n    <li>{{ $json.output.rekomendasi_3 }}</li>\n  </ol>\n</div>\n\n<div class=\"section\">\n  <h2>Kesimpulan Eksekutif</h2>\n\n  <p>\n    {{ $json.output.kesimpulan_eksekutif }}\n  </p>\n</div>\n\n<!-- FOOTER -->\n\n<div class=\"footer\">\n  Laporan ini dianalisis oleh AI berdasarkan data Google Sheets. \n  Untuk keputusan strategis, konfirmasi dengan tim keuangan.\n</div>\n\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1984,
        1728
      ],
      "id": "750c2393-56c9-4456-b020-b5ea6c181b28",
      "name": "Konversi ke HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "Ambil Data Cashflow": {
      "main": [
        [
          {
            "node": "Format Ke Tabel Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis CFO",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Jadwal Bulanan1": {
      "main": [
        [
          {
            "node": "Ambil Data Cashflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Ke Tabel Markdown": {
      "main": [
        [
          {
            "node": "Analisis CFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis CFO": {
      "main": [
        [
          {
            "node": "Konversi ke HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File PDF": {
      "main": [
        [
          {
            "node": "Email Ke Stakeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analisis CFO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF": {
      "main": [
        [
          {
            "node": "Download File PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konversi ke HTML": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "6e8fc520-467d-4220-a237-e79e4904f1e9",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "2e7955425aa6d9fc3490f343f2490ab7f5a242c21d00ca978ef46ad5dfdf3acf"
  },
  "id": "PrCTmjuA2KbJD1WT",
  "tags": [
    {
      "updatedAt": "2026-05-22T09:02:51.266Z",
      "createdAt": "2026-05-22T09:02:51.266Z",
      "id": "0G3LFLyhUkjy2JU7",
      "name": "FP"
    }
  ]
}
